@{
    ViewBag.Title = "SearchForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SearchForm</h2>
<form action="/Doc/AdvancedSearch" method="post" class="">
    <input name="" class="input-xxlarge" id="appendedInputButton" type="text"/>
    <input class="btn btn-primary" type="submit" value="Search" />

</form>

