@model IEnumerable<DomainModel.Entity.Document>

@{
    ViewBag.Title = "Результаты поиска";
    Layout = "~/Views/Shared/_Layout.cshtml";

    String strEn = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    String strRus = "АБВГДЕЖЗИКЛМНОПРСТУФХЦЧШЩЭЮЯ";  
}

@if (ViewBag.inTitle) { <h2>Каталог по названиям</h2> }
else { <h2>Каталог по авторам</h2> }


<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">A-Z</a></li>
    <li><a href="#tab2" data-toggle="tab">А-Я</a></li>
  </ul>
  <div class="tab-content">
      <div class="tab-pane active" id="tab1">

          <div class="btn-group">
              @for (int i = 0; i < strEn.Length; i++)
              {
                  if (ViewBag.inTitle)
                  {
                    @Html.ActionLink(strEn[i].ToString(), "TitleSearch", "Doc",
                                                new { q = strEn[i].ToString(), inTitle = true }, 
                                                new { @class = "btn" })
                  }
                  else
                  {
                    @Html.ActionLink(strEn[i].ToString(), "TitleSearch", "Doc",
                                                new { q = strEn[i].ToString(), inTitle = false }, 
                                                new { @class = "btn" })    
                  }
                  
                 if (i == strEn.Length / 2)
                 {<br />}
             }
          </div>

      </div>
    <div class="tab-pane" id="tab2">
      <div class="btn-group">
              @for (int i = 0; i < strRus.Length; i++)
              {
                 if (ViewBag.inTitle)
                 {
                    @Html.ActionLink(strRus[i].ToString(), "TitleSearch", "Doc",
                                                new { q = strRus[i].ToString(), inTitle = true }, new { @class = "btn" })
                  }
                  else
                  {
                     @Html.ActionLink(strRus[i].ToString(), "TitleSearch", "Doc",
                                                new { q = strRus[i].ToString(), inTitle = false }, new { @class = "btn" })
                  }
                 if (i == strRus.Length / 2)
                 {<br />}
             }
          </div>
    </div>
  </div>
</div>

@{Html.RenderPartial("SearchResults");}