@{
    ViewBag.Title = "Каталог по названиям";

    String strEn = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
    String strRus = "АБВГДЕЖЗИКЛМНОПРСТУФХЦЧШЩЭЮЯ"; 
}

<h2>@ViewBag.Title</h2>
<div class="well well-small">
    <div class="pagination pagination-small">
        <ul>
            @for (int i = 0; i < strRus.Length; i++)
            {              
                <li>
                @Html.ActionLink(strRus[i].ToString(), "CatalogByTitleResponse", "Search", new { letter = strRus[i].ToString() }, new { @class = "btn" })
                </li>
            }
        </ul>
    </div>
    <div class="pagination pagination-small">
        <ul>
            @for (int i = 0; i < strEn.Length; i++)
            {              
                <li>
                @Html.ActionLink(strEn[i].ToString(), "CatalogByTitleResponse", "Search", new { letter = strEn[i].ToString() }, new { @class = "btn" })
                </li>
            }
        </ul>
    </div>
</div>
