

@{
    ViewBag.Title = "Простой поиск";
}


<form method="post" action="/Search/Simple" class="form-search">
    <fieldset>
        <legend>@ViewBag.Title</legend>
        <input type="text" class="input-xxlarge" name="q">
        <span class="help-block">
            <br />
            Вы можете искать документы при помощи формы простого поиска. Для более успешного поиска 
            постарайтесь использовать слова, которые могут встречаться 
            в таких полях как название, автор, ключевые слова и аннотация к документу.
        </span>
        <button type="submit" class="btn">Найти</button>
    </fieldset>
</form>

