@{
    ViewBag.Title = "Контакты · Каталоги ТПУ";
}

<hgroup class="title">
    <h1>Контактная информация</h1>
    <h2>Каталоги ТПУ</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефон</h3>
    </header>
    <p>
        <span class="label">Основной:</span>
        <span>(3822) - 701-609</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Факс</h3>
    </header>
    <p>
        <span class="label">Основной:</span>
        <span>(3822) - 419-149</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес электронной почты</h3>
    </header>
    <p>
        <span class="label">Поддержка:</span>
        <span><a href="mailto:vt@vt.tpu.ru">vt@vt.tpu.ru</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        <span class="label">Главный корпус:</span>
        <span>634050, г. Томск, пр. Ленина, 30</span>
    </p>
    <p>
        <span class="label">Кафедра ВТ Института Кибернетики:</span>
        <span>634034, г. Томск, ул. Советская, 84</span>
    </p>
</section>