@{
    ViewBag.Title = "Контакты";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Телефон</h3>
    </header>
    <p>
        <span class="label">Основной:</span>
        <span>8-138173047</span>
    </p>
    <p>
        <span class="label">Нерабочее время:</span>
        <span>8-138173047</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес электронной почты</h3>
    </header>
    <p>
        <span class="label">Поддержка:</span>
        <span><a href="mailto:Support@tpu.ru">Support@tpu.ru</a></span>
    </p>
    <p>
        <span class="label">Маркетинг:</span>
        <span><a href="mailto:Marketing@tpu.ru">Marketing@tpu.ru</a></span>
    </p>
    <p>
        <span class="label">Общие вопросы:</span>
        <span><a href="mailto:General@tpu.ru">General@tpu.ru</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Адрес</h3>
    </header>
    <p>
        Строка адреса<br />
        634050, г. Томск, пр. Ленина, 30    
    </p>
</section>