@{
    ViewBag.Title = "Домашняя страница";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Этот ресурс является сервисом <a href="http://tpu.ru">
                <abbr title="Национальный Исследовательский Томский Политехнический Университет" 
                class="initialism">НИТПУ</abbr></a>. Этот сервис использует базу данных, предоставленную библиотекой НИТПУ,
                которая состоит из огромного количества научных записей и документов.
            </p>
            <p>
                <a href="/Doc/Search" class = "btn btn-primary btn-large" >Перейти к поиску</a>
            </p>
        </div>
    </section>
}
<h2>Возможности:</h2>

<div class="row">
    <div class="span4">
        <h3>Быстрый поиск</h3>
        <p>Вы можете использовать быстрый поиск для нахождения обширного диапазона документов. Поиск происходит по ключевым словам, названию и аннотации к научным документам. 
            Чтобы воспользоваться быстрым поиском можно пройти по ссылке меню <i>"Каталог"</i> в верхней части сайта или
            формой для поика, расположенной в верхнем правом углу сайта.
        </p>
        
    </div>
    <div class="span4">
        <h3>Каталоги</h3>
        <p>Вы можете использовать поиск по каталогам для нахождения документов через алфавитный указатель.
           Присутствует каталог по авторам и каталог по названиям с алфавитным указателем на русском и английском языках. 
            Чтобы воспользоваться быстрым поиском можно пройти по ссылке меню <i>"Каталог"</i> в верхней части сайта.
        </p>
        
    </div>
    <div class="span4">
        <h3>Загрузка</h3>
        <p>Вы можете скачивать найденные документы. 
            Это можно делать как со страницы с результатами поиска, так и со страницы с подробной информацией о документе.</p>
        
    </div>
</div>














