<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DomainModel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <DomainModel.Properties.Settings>
            <setting name="DomainModel_DocInfoRef_DocInfo" serializeAs="String">
                <value>http://ucm.main.tpu.ru/idc/idcplg</value>
            </setting>
            <setting name="DomainModel_GetFileRef_GetFile" serializeAs="String">
                <value>http://ucm.main.tpu.ru/idc/idcplg</value>
            </setting>
            <setting name="DomainModel_SearchRef_Search" serializeAs="String">
                <value>http://ucm.main.tpu.ru/idc/idcplg</value>
            </setting>
            <setting name="DomainModel_MetaDataRef_MetaData" serializeAs="String">
                <value>http://ucm.main.tpu.ru/idc/idcplg</value>
            </setting>
        </DomainModel.Properties.Settings>
    </applicationSettings>
</configuration>