@model System.Exception

@{
    ViewBag.Title = "Ошибка";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Произошла ошибка</h1>
            </hgroup>
        </div>
    </section>
}

<fieldset>
    <legend>Извините, произошла ошибка</legend>

    <dl class="dl-horizontal">
        <dt>Сообщение</dt>
        <dd>@Html.DisplayFor(model => model.Message)</dd>
    </dl>
</fieldset>
