@model System.Exception

@{
    ViewBag.Title = "Не найдено · Каталогизация";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<fieldset>
    <legend>Результаты поиска: @ViewBag.q</legend>

    <dl class="dl-horizontal">
        <dt>Сообщение</dt>
        <dd>@Html.DisplayFor(model => model.Message)</dd>
        
    </dl>
    <button type="button" class="btn" onclick="history.back()"><i class="icon-arrow-left"></i></button>
</fieldset>



